<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.lastName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <mat-header-cell *matHeaderCellDef> Date of birth </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.dateOfBirth | date }}</mat-cell
    >
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
